<a href="https://colab.research.google.com/github/miad52/Python_UTEC/blob/main/Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Listas homogéneas
numeros = [1,2,3,4]

In [ ]:
letras = ["a","b","c","d","e","f"]

In [ ]:
print(f"El objeto {numeros} es del tipo {type(numeros)}")

El objeto [1, 2, 3, 4] es del tipo <class 'list'>

In [ ]:
# Listas heterogéneas
datos = [4,"Jorge",-15.5,"UTEC",True]

In [ ]:
%whos

Variable   Type    Data/Info
----------------------------
datos      list    n=5
letras     list    n=6
numeros    list    n=4

In [ ]:
print(f"El elemento ubicado en el índice 3 de la lista es {datos[3]}")

El elemento ubicado en el índice 3 de la lista es UTEC

In [ ]:
print(f"Los primeros elementos de la lista son {datos[0:3]}")

Los primeros elementos de la lista son [4, 'Jorge', -15.5]

In [ ]:
print(f"Los primeros elementos de la lista son {datos[:3]}")

Los primeros elementos de la lista son [4, 'Jorge', -15.5]

In [ ]:
# Mostrar todos los elementos de la lista letras


# Mostrar el cuarto, quinto y sexto elemento de la lista letras

In [ ]:
print(f"Los primeros elementos de la lista son:\n {letras[:]}")

Los primeros elementos de la lista son:
 ['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
print(f"Los primeros elementos de la lista son {letras[3:6]}")

Los primeros elementos de la lista son ['d', 'e', 'f']

# Insertar Elementos en una lista

In [ ]:
pares = [0, 2, 4, 6, 8, 10]

In [ ]:
type(pares)

list

In [ ]:
# Insertar un elemento al final de la lista
pares.append(12)

In [ ]:
print(f'La lista pares ahora es {pares}')

La lista pares ahora es [0, 2, 4, 6, 8, 10, 12]

In [ ]:
pares.insert(1, 100)

LAS LISTAS SON MUTABLES

In [ ]:
print(f"Los elementos de la lista letras son \n{letras[:]}")

Los elementos de la lista letras son
['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
lista_0 = [10, 100, 1, 50, 23, 120, 1000, 3, 25]
print(f"La lista tiene los elementos \n{lista_0}")
lista_0.sort(reverse=True)
print(f"\nLa lista ordenada (descendente) tiene los elementos \n{lista_0}")

La lista tiene los elementos
[10, 100, 1, 50, 23, 120, 1000, 3, 25]

La lista ordenada (descendente) tiene los elementos
[1000, 120, 100, 50, 25, 23, 10, 3, 1]

In [ ]:
# Apartado 3.1
lista_x = ["A", "B", "b", "c", "E", "E", "f"]
print("Lista inicial:", lista_x)
# Apartado 3.2
elemento_eliminar = input("Ingrese el elemento que desea eliminar: ")
# Apartado 3.3
if elemento_eliminar in lista_x:
    lista_x.remove(elemento_eliminar)
    print(f"Elemento eliminado: {elemento_eliminar}")
else:
    print(f"El elemento '{elemento_eliminar}' no está en la lista.")
print("Lista resultante:", lista_x)

# Lista de comprension

In [1]:
numeros = [2,4,6,8,10,12,14]

In [2]:
for elemento in numeros:
  print(elemento)

2
4
6
8
10
12
14

In [3]:
numeros_x2 = [i*2 for i in numeros]

In [4]:
print(f'La lista inicial es {numeros}')
print(f'La lista actualizada es {numeros_x2}')

La lista inicial es [2, 4, 6, 8, 10, 12, 14]
La lista actualizada es [4, 8, 12, 16, 20, 24, 28]

In [5]:
elemento_filtrado = [i for i in numeros if i>5]

In [6]:
print(f'La lista inicial es {numeros}')
print(f'La lista actualizada es {elemento_filtrado}')

La lista inicial es [2, 4, 6, 8, 10, 12, 14]
La lista actualizada es [6, 8, 10, 12, 14]

In [7]:
x = 'DAVID'
print(f'Mi nombre es {x}')
print(f'Mi nombre en minusculas es {x.lower()}')

Mi nombre es DAVID
Mi nombre en minusculas es david

In [9]:
lista_x = ["A", "B", "b", "c", "E", "E", "f"]
print("Lista inicial:", lista_x)

elemento = input("Ingrese el elemento que desea eliminar: ")

lista_x_n = [i for i in lista_x if i.lower() != elemento.lower()]

print(f"Elemento eliminado: {elemento}")
print("Lista resultante:", lista_x_n)

Lista inicial: ['A', 'B', 'b', 'c', 'E', 'E', 'f']
Ingrese el elemento que desea eliminar: C
Elemento eliminado: C
Lista resultante: ['A', 'B', 'b', 'E', 'E', 'f']

# **Tuplas**

In [10]:
tupla_0 = ()

In [11]:
type(tupla_0)

tuple

In [13]:
tupla_1 = (5)
type(tupla_1)

int

In [14]:
# Tupla homogénea
tupla_2 = (2.0, 2.5, 3.2, 4.3, 4.5, 6.5, 7.0)
print(f"La tupla es \n{tupla_2}")
print(f"El objeto tupla_2 es del tipo {type(tupla_2)}")

La tupla es
(2.0, 2.5, 3.2, 4.3, 4.5, 6.5, 7.0)
El objeto tupla_2 es del tipo <class 'tuple'>

In [15]:
# Tupla heterogénea => elementos son de distinto tipo
tupla_3 = (2, 5.5, "UTEC", True)
print(f"La tupla es \n{tupla_3}")
print(f"El objeto tupla_3 es del tipo {type(tupla_3)}")

La tupla es
(2, 5.5, 'UTEC', True)
El objeto tupla_3 es del tipo <class 'tuple'>

In [16]:
print(f"La tupla es {tupla_3}")
print(f"El elemento de índice 1 de la tupla es {tupla_3[1]}")

La tupla es (2, 5.5, 'UTEC', True)
El elemento de índice 1 de la tupla es 5.5

In [ ]:
t_prod = (("A", "manzana", "3.0"),("B","pera","2.5"))